# -*- js -*-
{
  "version": 2.1,
  "executors": {
    "clojure": {
      "docker": [{"image": "clojure:<< parameters.java_version >>"}],
      "parameters": {
        "java_version": {
          "description": "Java version",
          "default": "temurin-25-lein",
          "type": "string"
        }
      },
      "working_directory": "~/leiningen"
    }
  },
  "jobs": {
    "build": {
      "executor": "clojure",
      "parameters": {
        "java_version": {
          "description": "Java version",
          "default": "<< parameters.java_version >>",
          "type": "string"
        }
      },
      "steps": [
        "checkout",
        {
          "restore_cache": {
            "key": "reply-{{ checksum \"project.clj\" }}"
          }
        },
        {
          "run": "lein test"
        },
        {
          "save_cache": {
            "paths": ["~/.m2/repository"],
            "key": "reply-{{ checksum \"project.clj\" }}"
          }
        }
      ]
    }
  },
  "workflows": {
    "test-with-matrix": {
      "jobs": [
        {"build": {"name": "openjdk8", "java_version": "openjdk-8-lein"}},
        {"build": {"name": "temurin", "java_version": "temurin-25-lein"}},
      ]
    }
  }
}
